.body__list--product{
    margin: 142px 174px 0 174px;
}
.content__list--product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn__seemore {
    text-align: center;
    margin-top: 10px;
    button {
        background-color: #fff;
        font-size: 23px;
        font-weight: 800;
        padding: 10px 36px;
        border: 3px solid #020001;
        border-radius: 5px;
    }
}

.container__item {
    color: #222222;
    width: 300px;
    margin-bottom: 72px;

    img {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }

    .container__item--title {
        margin-top: 27px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: normal;
    }

    .container__item--box {
        display: flex;
        justify-content: space-between;
        color: #666666;
        font-size: 16px;
        p{
            margin: 0;
        }
        .icon {
            color: #fa7b26;
        }
    }
}