.footer {
    padding: 80px 97px 0 97px;

    .footer__top {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;

        .footer__right {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer__right__1 {
                margin-left: 80px;
            }
        }

    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .footer__bottom--left {
            width: 840px;
            height: 40px;
            color: #a9a9a9;
            font-size: 14px;
            font-family: Noto Sans;

            p {
                margin: 0;
                padding-top: 22px;
            }
        }

        .footer__bottom--right {
            padding-top: 22px;
            width: 100px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

}

@media only screen and (max-width: 1310px) {
    .footer {
        .footer__top {
            .footer__left{
                margin: 0 auto 20px auto;
            }
            .footer__right {
                margin: auto;
                .footer__right__1 {
                    margin: 0 40px;
                }
            }
    
        }
    
        .footer__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .footer__bottom--left {
                width: 840px;
                height: 40px;
                color: #a9a9a9;
                font-size: 14px;
                font-family: Noto Sans;
    
                p {
                    margin: 0;
                    padding-top: 22px;
                }
            }
    
            .footer__bottom--right {
                padding-top: 22px;
                width: 100px;
                display: flex;
                justify-content: space-between;
            }
        }
    
    }
}