.content__container {
    position: relative;
    top: -5px;
    color: #fff;
    // height: 576px;
    background: url('../../../assets/img/bg_image.png') ;
    background-size: cover;

    .container__text {
        // position: relative;
        // top: 150px;
        // left: 174px;
        padding: 150px 150px 165px 150px;
    }

    .text__title {
        font-weight: 800;
        font-size: 50px;
        margin: 0;

    }

    .text__desc {
        max-width: 667px;
        line-height: 1.75;
        font-size: 20px;
        letter-spacing: 1px;
    }
}