.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 80px;
    align-items: center;

    .header__left {
        margin-left: 97px;
    }

    .header__right {
        display: flex;
        margin-right: 97px;

        button {
            margin-left: 50px;
            background: none;
            border: none;
            color: #ffffff;
        }

        button:nth-child(3) {
            padding-right: 50px;
            border-right: 1px solid #ffffff;
        }
    }

    @media only screen and (max-width: 1210px) {
        .header__right {
            margin: 0 auto;
            padding-bottom: 20px;

            button {
                margin: 0 25px;
                background: none;
                border: none;
                color: #ffffff;
            }

            button:nth-child(3) {
                padding-right: 50px;
                border-right: 1px solid #ffffff;
            }
        }

        .header__left {
            margin: 0px;
            padding: 20px;
            width: 100%;
            text-align: center;
        }
    }

    @media only screen and (max-width: 800px) {
        .header__right_none {
            display: block;
            flex-wrap: wrap;
            width: 100%;
            padding: 0px 0px 20px 20px;

            button {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                text-align: left;
                background: none;
                border: none;
                color: #ffffff;
            }

            button:nth-child(3) {
                border: none;

            }
        }

        .header__right {
            display: none;
        }

        .iconbutton {
            width: 10%;
            align-items: center;

            .icon__nav {
                color: #ffffff;
                font-size: 30px;
            }
        }

        .header__left {
            margin: 0px;

            padding: 20px;
            width: 50%;
            text-align: left;


        }
    }

}